@-ms-viewport {
    width: 1920px;
    height: 1080px;
    orientation: landscape;
}

@font-face {
    font-family: "TravelingTypewriter";
    src: url("./font/TravelingTypewriter.ttf") format("truetype");
    src: url("./font/TravelingTypewriter.otf") format("truetype");
}

* {
    font-family: "TravelingTypewriter";
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0px;
    width: 1920px;
    height: 1080px;
    background-color: black;
    overflow: hidden;
}

button{
  outline:none;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

#bureau {
    background-image: url(img/bureaudessus.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#index {
    background-image: url(img/accueilsans%20select.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#chambre {
    background-image: url(img/chambre.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#enquete {
    background-image: url(img/);
    background-repeat: no-repeat;
    background-size: contain;
}


/*----------------------- Bouton Aide ---------------------*/


/* Grand Ecran */

#ecran {
    background-color: transparent;
    background-size: 200%;
    border: 1px solid transparent;
    color: white;
    font-size: 80px;
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 0;
    letter-spacing: 5px;
    cursor:pointer;
}


/* Aide */

#aide,
#quitter,
#quitter1 {
    background-color: transparent;
    background-size: 200%;
    color: white;
    font-size: 90px;
    position: absolute;
    border: 1px solid transparent;
    top: 4px;
    right: 120px;
    padding: 1px;
    z-index: 6;
    outline: none;
    cursor:pointer;
}


/*- Loupe -*/

#accueil {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 100px;
    height: 70px;
    cursor:pointer;
}


/*----------------------- Accueil ---------------------*/


/*-- Ambiance --*/

.gramo {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    cursor:pointer;
}

#gramophone, #gramophoneMute {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    top: 15px;
    left: 1650px;
    width: 80px;
    height: 100px;
}

#gramophoneMute{
  display: none;
}


/*-- PopUp 1 --*/

#pop1 {
    display: none;
}

.popUp {
    background-color: rgba(57, 54, 54, 0.80);
    color: white;
    height: 1080px;
    padding: 130px 40px 0 40px;
    text-align: center;
    position: relative;
    z-index: 4;
}

#pop1 h1 {
    font-size: 95px;
    margin-top: 10px;
}

#pop1 p {
    font-size: 45px;
    Line-Height: 1;
    margin-top: 20px;
}

#suivant {
    background-color: transparent;
    border: 1px solid transparent;
}

#suivant img {
    width: 320px;
    margin: 0;
    right: 0;
    bottom: 0;
    cursor:pointer;
}


/*-- PopUp 2 --*/

#pop2 p {
    font-size: 35px;
    Line-Height: 1.3;
    width: 460px;
}

#cestpartie {
    background-color: transparent;
    border: 1px solid transparent;
}

#cestpartie img {
    width: 320px;
    margin: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor:pointer;
}

#dossierEnquete {
    position: absolute;
    left: 750px;
    bottom: 90px;
}

#costume {
    position: absolute;
    left: 310px;
    top: 350px;
}

#histoire {
    position: absolute;
    right: 60px;
    top: 200px;
    width: 700px !important;
}

#fleche {
    position: absolute;
    left: 160px;
    top: 0;
}

#flecheImg {
    width: 150px;
    position: absolute;
    left: 20px;
    top: 30px;
}


/*-- Point & Click --*/

#fauteuil {
    background-color: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3.5px solid white;
    position: absolute;
    top: 500px;
    right: 670px;
    padding: 20px;
}

#fauteuils {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3.5px solid white;
    position: absolute;
    top: 11px;
    right: 11px;
}

#porte {
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3.5px solid white;
    position: absolute;
    top: 400px;
    left: 120px;
}

#portes {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3.5px solid white;
    position: absolute;
    top: 11px;
    right: 11px;
}

#bureau2 {
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3.5px solid white;
    position: absolute;
    bottom: 150px;
    right: 260px;
}

#bureau2s {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3.5px solid white;
    position: absolute;
    top: 11px;
    right: 11px;
}

.sousTitre p{
  color: white;
  font-size:30px;
  margin-top: 5px;
}

.sousTitre{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    height:130px;
    position: absolute;
    bottom:0px;
    width: 1920;
    background-color: rgba(0, 0, 0, 0.5);
}

.imgCom{
    width: 950px;
    height: 60px;
    margin:-37px auto 0 auto;
}

.animCom {
    animation-name: infade;
    animation-duration: 4s;
}

@keyframes infade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#livre {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 440px;
    left: 810px;
    opacity: 0.5;
    cursor:pointer;
}

#fiole {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 550px;
    right: 1000px;
    opacity: 0.5;
    cursor:pointer;
}

#crane {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 400px;
    right: 820px;
    opacity: 0.5;
    cursor:pointer;
}

#violon {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 700px;
    left: 550px;
    opacity: 0.5;
    cursor:pointer;
}

#pistolet {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 470px;
    left: 550px;
    opacity: 0.5;
    cursor:pointer;
}

#tableau {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 190px;
    right: 670px;
    opacity: 0.5;
    cursor:pointer;
}

#carte {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 400px;
    right: 170px;
    cursor:pointer;
}

#coffre {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    bottom: 270px;
    left: 790px;
    opacity: 0.5;
    cursor:pointer;
}

#cigare {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 660px;
    right: 850px;
    opacity: 0.5;
    cursor:pointer;
}


/*----------------------- Bureau ---------------------*/

.ombre:hover {
    filter: drop-shadow(0 0 0.90rem black);
}

#rose {
    background-image: url(img/etudeRouge.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
    transform: rotate(15deg);
    position: absolute;
    top: 355px;
    left: 610px;
}

#rose video {
    height: 150px;
    width: 180px;
    position: absolute;
    top: 10px;
    left: 60px;
    background-color: black;
}

#signe {
    background-image: url(img/signe-4.png);
    background-size: cover;
    background-position: center;
    width: 190px;
    height: 250px;
    position: absolute;
    top: 510px;
    left: 520px;
}

#signe video {
    height: 160px;
    width: 140px;
    position: absolute;
    top: 35px;
    left: 17px;
    background-color: black;
}

#chien {
    background-image: url(chienBaskerville/chienBaskerville.png);
    background-size: cover;
    background-position: center;
    width: 290px;
    height: 300px;
    transform: rotate(-13deg);
    position: absolute;
    left: 600px;
    top: 650px;
}

#chien video {
    height: 150px;
    width: 180px;
    position: absolute;
    left: 60px;
    top: 70px;
    background-color: black;
}

#napoleon {
    background-image: url(img/napoleon.png);
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 300px;
    transform: rotate(4deg);
    position: absolute;
    bottom: 480px;
    left: 1010px;
}

#napoleon video {
    height: 158px;
    width: 160px;
    background-color: black;
    left: 11px;
    top: 52px;
    position: absolute;
}

#identite {
    background-image: url(img/affaireIdentite.png);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 250px;
    transform: rotate(-5deg);
    position: absolute;
    bottom: 290px;
    right: 840px;
}

#identite video {
    height: 160px;
    width: 170px;
    position: absolute;
    top: 29px;
    left: 20px;
    background-color: black;
}

#affabulant {
    background-image: url(img/affabulant.png);
    background-size: cover;
    background-position: center;
    width: 220px;
    height: 230px;
    transform: rotate(4deg);
    position: absolute;
    top: 700px;
    left: 1000px;
}

#affabulant video {
    height: 110px;
    width: 250px;
    position: absolute;
    top: 60px;
    left: -15px;
}


/*----------------------- Chambre ---------------------*/

#porteInterieur {
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3.5px solid white;
    position: absolute;
    top: 550px;
    right: 90px;
}

#portesInterieur {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3.5px solid white;
    position: absolute;
    top: 11px;
    right: 11px;
}


/*-- Secondaire --*/

#tiroirHaut {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    bottom: 270px;
    left: 790px;
    opacity: 0.5;
}

#tiroirBas {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    bottom: 100px;
    left: 990px;
    opacity: 0.5;
}

#miniTiroirBas {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    bottom: 290px;
    left: 385px;
    opacity: 0.5;
}

#miniTiroirHaut {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 325px;
    left: 195px;
    opacity: 0.5;
}

#coffret {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    bottom: 470px;
    left: 685px;
    opacity: 0.5;
}

#miroir {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    bottom: 630px;
    left: 880px;
    opacity: 0.7;
}

#pensoir {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 270px;
    right: 600px;
    opacity: 0.7;
}

#carte2 {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    bottom: 570px;
    right: 365px;
    opacity: 0.7;
}

#photo {
    background: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px solid white;
    position: absolute;
    top: 120px;
    left: 820px;
    opacity: 0.7;
}

.afficher {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background-color: transparent;
    position: absolute;
    border: 1px solid transparent;
    cursor: pointer;
}

.prendTous {
    display: block;
    height: 100%;
}


/*-- Slide --*/

#chambreButton {
    background-color: transparent;
    color: white;
    font-size: 90px;
    position: absolute;
    border: 1px solid transparent;
    top: 4px;
    right: 120px;
    padding: 1px;
    outline: none;
}

.slideshow-container img {
    position: absolute;
    top: 170px;
    left: 120px;
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    background-color: rgba(57, 54, 54, 0.80);
    position: absolute;
    width: 1890px;
    height: 1000px;
    margin: 20px 0 0 15px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 300px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    transition: 0.6s ease;
    user-select: none;
    background-color: transparent;
    font-size: 370px;
    border: 1px solid transparent;
    padding: 30px;
    outline: none;
    top: 250px;
}


/* Position the "next button" to the right */

.next {
    right: 0;
}

.prev {
    left: 0;
}


/* Caption text */

.text p {
    color: white;
    font-size: 45px;
    position: absolute;
    bottom: 170px;
    right: 150px;
    width: 880px;
    text-align: center;
}

.text h1 {
    color: white;
    font-size: 100px;
    padding: 8px 12px;
    position: absolute;
    top: 80px;
    right: 330px;
    text-align: center;
}


/* Fade animation */

.fade{
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
